html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;

}

.header {
    width: 100%;
    color: white;
    background: hsla(240, 100%, 10%, 0.9);
    height: 5rem;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    border-bottom: 8px solid hsla(0, 40%, 80%, 0.9)
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#appName {
    margin: auto;
}

#mmm {
    color: hsla(300, 90%, 60%, 0.8);
}